<div [formGroup]="lectureFormGroup">
  <input
    type="hidden"
    formControlName="id"
  />

  <input
    type="hidden"
    formControlName="videoUrl"
  />

  <div class="lecture-container d-flex flex-row mb-4 p-3 rounded">

    <div class="d-flex flex-column flex-grow-1">
      <div>
        <mat-form-field>
          <input
            matInput
            placeholder="Lecture title"
            formControlName="title"
            required
            autofocus
          >
          <mat-error *ngIf="lectureFormGroup.get('title').hasError('required')">
            Lecture title is <strong>required</strong>
          </mat-error>
        </mat-form-field>


        <mat-slide-toggle color="primary" formControlName="isFree">
          Free
        </mat-slide-toggle>

      </div>

      <div class="d-flex">
        <button
          *ngIf=""
          matTooltip="Remove lecture"
          mat-icon-button
          color="warn"
          type="button"
          (click)="'onRemoveLecture(lectureIndex)'"
        ><mat-icon>delete_outline</mat-icon></button>
      </div>
    </div>

    <div *ngIf="lectureFormGroup.get('title').value" class="video-container text-center ml-3">
      <video *ngIf="lectureFormGroup.get('videoUrl').value" controls preload="metadata" [src]="backendURL + lectureFormGroup.get('videoUrl').value">
        Your browser does not support HTML5 video.
      </video>

      <app-drag-drop-video-upload
        [className]="lectureFormGroup.get('videoUrl').value ? 'hidden' : ''"
        placeholder="Drag video or click"
        (videoSelected)="onVideoSelected($event)"
        [onChangeVideo]="changeVideoSubject.asObservable()"
      ></app-drag-drop-video-upload>

      <mat-progress-bar *ngIf="progress" mode="determinate" [value]="progress"></mat-progress-bar>

      <div>
        <button
          *ngIf="lectureFormGroup.get('title').value && lectureFormGroup.get('videoUrl').value && !progress"
          class="flexAlignEnd"
          matTooltip="Change video"
          mat-icon-button
          color="primary"
          type="button"
          (click)="onChangeVideo()"
        ><mat-icon>cloud_upload</mat-icon></button>
      </div>
    </div>

  </div>
</div>
