<div [formGroup]="lectureFormGroup">
  <input
    type="hidden"
    formControlName="id"
  />

  <input
    type="hidden"
    formControlName="videoUrl"
    required
  />

  <mat-card class="lecture-container mb-4">
    <mat-card-content>
      <div class="d-flex flex-row p-1">
        <div class="d-flex flex-column flex-grow-1">
          <div>
            <div class="d-flex align-items-center mb-1">
              <label class="mr-3">Type</label>
              <mat-radio-group formControlName="type" required aria-label="Lecture type">
                <mat-radio-button value="video">Video</mat-radio-button>
                <mat-radio-button value="text">Text</mat-radio-button>
              </mat-radio-group>
            </div>

            <mat-form-field>
              <input
                matInput
                placeholder="Lecture title"
                formControlName="title"
                required
              >
              <mat-error *ngIf="lectureFormGroup.get('title').hasError('required')">
                Lecture title is <strong>required</strong>
              </mat-error>
            </mat-form-field>

            <mat-slide-toggle color="primary" formControlName="isFree">
              Free
            </mat-slide-toggle>

            <mat-form-field class="quill-material-container" *ngIf="lecture.type === 'text' && lecture.title">
              <quill-material
                formControlName="text"
                placeholder="Lecture content"
                required
              ></quill-material>
            </mat-form-field>

          </div>
        </div>

        <div *ngIf="lecture.type === 'video' && lecture.title" class="video-container text-center ml-3">
          <video
            *ngIf="lecture.videoUrl"
            controls
            preload="metadata"
            [src]="backendURL + lecture.videoUrl"
          >
            Your browser does not support HTML5 video.
          </video>

          <app-drag-drop-video-upload
            [className]="lecture.videoUrl ? 'hidden' : ''"
            placeholder="Drag video or click"
            (videoSelected)="onVideoSelected($event)"
            [onChangeVideo]="changeVideoSubject.asObservable()"
          ></app-drag-drop-video-upload>

          <mat-progress-bar *ngIf="progress" mode="determinate" [value]="progress"></mat-progress-bar>

          <div>
            <button
              *ngIf="lecture.title && lecture.videoUrl && !progress"
              class="flexAlignEnd"
              matTooltip="Change video"
              mat-icon-button
              color="primary"
              type="button"
              (click)="onChangeVideo()"
            ><mat-icon>cloud_upload</mat-icon></button>
          </div>
        </div>
      </div>
    </mat-card-content>
    <mat-card-actions class="d-flex justify-content-between">
      <div *ngIf="sectionFormGroup.get('lectures')['controls'].length > 1" class="drag-handle" cdkDragHandle>
        <svg width="24px" fill="currentColor" viewBox="0 0 24 24">
          <path d="M10 9h4V6h3l-5-5-5 5h3v3zm-1 1H6V7l-5 5 5 5v-3h3v-4zm14 2l-5-5v3h-3v4h3v3l5-5zm-9 3h-4v3H7l5 5 5-5h-3v-3z"></path>
          <path d="M0 0h24v24H0z" fill="none"></path>
        </svg>
      </div>

      <div class="text-right">
        <button
          *ngIf="sectionFormGroup.get('lectures')['controls'].length > 1"
          matTooltip="Remove lecture"
          mat-icon-button
          color="warn"
          type="button"
          (click)="onRemoveLecture(lectureIndex)"
        ><mat-icon>delete_outline</mat-icon></button>
      </div>
    </mat-card-actions>
  </mat-card>
</div>
