<app-side-bar *ngIf="isAuthenticated()" (toggleSidenav)="navigationSidenav.toggle()"></app-side-bar>

<mat-sidenav-container autosize>

  <mat-sidenav #navigationSidenav mode="over" role="navigation">

    <mat-toolbar>
      <mat-toolbar-row>
        <h2 class="toolbar-title">Learning Management System</h2>
      </mat-toolbar-row>
    </mat-toolbar>

    <mat-nav-list>

      <ng-container *ngIf="myWorkRoutes">

        <h2 matSubheader> {{ 'MY_WORK' }} </h2>

        <a mat-list-item routerLink="/" style="height: 0;"></a>

        <a *ngFor="let item of myWorkRoutes"
           mat-list-item
           (click)="navigationSidenav.close()"
           [routerLink]="[item.route]"
           routerLinkActive="list-item-active">
          <mat-icon matListIcon class="nav-list-icon"> {{ item.icon }} </mat-icon>
          {{item.title}}
        </a>

        <mat-divider></mat-divider>

      </ng-container>

      <ng-container *ngIf="customerRoutes">

        <h2 matSubheader> {{ 'CUSTOMERS' }} </h2>

        <a *ngFor="let item of customerRoutes"
           mat-list-item
           (click)="navigationSidenav.close()"
           [routerLink]="[item.route]"
           routerLinkActive="list-item-active">
          <mat-icon matListIcon class="nav-list-icon"> {{ item.icon }} </mat-icon>
          {{item.title}}
        </a>

      </ng-container>

    </mat-nav-list>

  </mat-sidenav>

  <mat-sidenav-content>
    <main role="main" class="container">
      <router-outlet></router-outlet>
    </main>
  </mat-sidenav-content>

</mat-sidenav-container>
