<mat-slide-toggle #toggle class="mt-3">Show Password Details</mat-slide-toggle>
<mat-form-field [color]="passwordComponent.color" class="pb-3">
  <input
    matInput
    #password
    placeholder="Password"
    [type]="hidePassword ? 'password' : 'text'"
    [formControl]="passwordComponent.passwordFormControl"
    required
  >
  <mat-icon matSuffix class="cursor-pointer" (click)="hidePassword = !hidePassword">{{hidePassword ? 'visibility_off' : 'visibility'}}
  </mat-icon>
  <mat-hint aria-live="polite">
    Password must contain at least 8 chars, one lower char, one upper char, one digit and one special char
  </mat-hint>

  <mat-error *ngIf="passwordComponent.passwordFormControl.hasError('required')">
    Password is <strong>required</strong>
  </mat-error>
  <mat-error *ngIf="passwordComponent.passwordFormControl.hasError('pattern')">
    Password is <strong>not valid</strong>
  </mat-error>
</mat-form-field>

<div class="mb-3">
  <mat-password-strength
    #passwordComponent
    class="green"
    [password]="password.value"
  ></mat-password-strength>

  <mat-password-strength-info
    *ngIf="toggle.checked"
    [passwordComponent]="passwordComponent"
  ></mat-password-strength-info>
</div>

<mat-form-field>
  <mat-label>Confirm Password</mat-label>
  <mat-pass-toggle-visibility #toggleConfirmPassword matSuffix></mat-pass-toggle-visibility>
  <input
    matInput
    #passwordToConfirm
    [type]="toggleConfirmPassword.type"
    [formControl]="passwordComponent.passwordConfirmationFormControl"
    placeholder="Password"
  >

  <mat-error *ngIf="passwordComponent.passwordConfirmationFormControl.hasError('required')">
    Password confirmation is <strong>required</strong>
  </mat-error>
  <mat-error
    *ngIf="passwordToConfirm.value && passwordComponent.passwordConfirmationFormControl.hasError('notConfirmed')">
    Password is not the same
  </mat-error>

</mat-form-field>
