<mat-card>
  <mat-card-content>
    <form [formGroup]="resetPasswordWithCodeForm">
      <h2>Reset your password</h2>
      <mat-form-field>
        <input matInput placeholder="Email" type="email" formControlName="email" autocomplete="email" required>
        <mat-error *ngIf="emailInput.hasError('required')">
          Email is <strong>required</strong>
        </mat-error>
        <mat-error *ngIf="emailInput.hasError('email')">
          Please enter a valid email address
        </mat-error>
      </mat-form-field>

      <mat-form-field>
        <input matInput placeholder="Confirmation Code" type="text" formControlName="code" autofocus required>
        <mat-hint *ngIf="!codeInput.value">Enter the confirmation code that was emailed to you</mat-hint>
        <mat-error *ngIf="codeInput.hasError('required')">
          Confirmation Code is <strong>required</strong>
        </mat-error>
      </mat-form-field>

      <app-password-strength-confirm #passwordStrengthConfirm></app-password-strength-confirm>

      <div class="text-center">
        <button mat-raised-button type="submit" color="primary" (click)="onResetPassword()" [disabled]="!resetPasswordWithCodeForm.valid">Save Password</button>
        <p class="mt-4"><a routerLink="/auth/signin">Back to Login</a></p>
      </div>
    </form>
  </mat-card-content>
</mat-card>
