<h1 class="text-center">New course</h1>

<div class="form-container">
  <form [formGroup]="courseForm" novalidate (ngSubmit)="onSubmit()">

    <input
      *ngIf="id"
      type="hidden"
      formControlName="id"
    />

    <mat-form-field>
      <input
        matInput
        placeholder="Title"
        formControlName="title"
        required
      >
      <mat-error *ngIf="courseForm.controls['title'].hasError('required')">
        Title is <strong>required</strong>
      </mat-error>
    </mat-form-field>

    <mat-form-field>
      <input
        matInput
        placeholder="Subitle"
        formControlName="subtitle"
        required
      >
      <mat-error *ngIf="courseForm.controls['subtitle'].hasError('required')">
        Subitle is <strong>required</strong>
      </mat-error>
    </mat-form-field>

    <mat-form-field>
      <textarea
        matInput
        placeholder="Description"
        formControlName="description"
        required
      ></textarea>
      <mat-error *ngIf="courseForm.controls['description'].hasError('required')">
        Description is <strong>required</strong>
      </mat-error>
    </mat-form-field>

    <mat-form-field>
      <ngx-mat-file-input

        #imageInput
        formControlName="image"
        placeholder="Preview image"
        valuePlaceholder="No image selected"
        [accept]="'.png,.jpg,.jpeg'"
        [attr.required]="!id"
      ></ngx-mat-file-input>
      <mat-icon matSuffix>image</mat-icon>
      <button mat-icon-button matSuffix *ngIf="!imageInput.empty" (click)="imageInput.clear($event)">
        <mat-icon>clear</mat-icon>
      </button>
      <mat-error *ngIf="courseForm.controls['image'].hasError('required')">
        Image is <strong>required</strong>
      </mat-error>
    </mat-form-field>

    <mat-form-field>
      <input
        matInput
        type="number"
        placeholder="Price"
        formControlName="price"
        required
      >
    </mat-form-field>

    <mat-card-actions>
      <button
        mat-raised-button
        color="primary"
        type="submit"
        [disabled]="courseForm.invalid"
      >Submit</button>
    </mat-card-actions>
  </form>
</div>
