<div [formGroup]="sectionFormGroup">
  <mat-form-field>
    <input
      matInput
      placeholder="Section title"
      formControlName="title"
      required
    >
    <mat-error *ngIf="sectionFormGroup.get('title').hasError('required')">
      Section title is <strong>required</strong>
    </mat-error>
  </mat-form-field>

  <div cdkDropList (cdkDropListDropped)="drop($event)">
    <div
      *ngFor="let lecture of sectionFormGroup.get('lectures')['controls']; let i = index;"
      cdkDrag
      [cdkDragDisabled]="sectionFormGroup.get('lectures')['controls'].length === 1"
    >
      <div class="lecture-drag-placeholder mb-4" *cdkDragPlaceholder></div>
      <app-course-lecture
        [lectureFormGroup]="lecture"
        [sectionFormGroup]="sectionFormGroup"
        [courseFormGroup]="courseFormGroup"
        [lectureIndex]="i"
      >
      </app-course-lecture>
    </div>
  </div>

  <mat-divider class="mt-3 mb-3"></mat-divider>

  <div class="d-flex justify-content-between">
    <button
      class="add_section_button"
      mat-button
      color="primary"
      type="button"
      (click)="onAddLecture()"
      [disabled]="sectionFormGroup.invalid"
    >
      <mat-icon>add</mat-icon>
      Add lecture
    </button>

    <button
      *ngIf="courseFormGroup.get('sections')['controls'].length > 1"
      mat-button
      color="warn"
      type="button"
      (click)="onRemoveSection(sectionIndex)"
    >
      <mat-icon>delete_outline</mat-icon>
      Remove section
    </button>
  </div>
</div>
