/* You can add global styles to this file, and also import other style files */

$break-sm: 576px
$break-md: 768px
$break-lg: 992px
$break-xl: 1200px

body
  padding-top: 5rem

mat-form-field
  width: 100%
  padding: 6px 0
