<mat-card>
  <mat-card-content>
    <form [formGroup]="forgotPasswordForm">
      <h2>Password recover</h2>
      <mat-form-field>
        <input matInput placeholder="Email" type="email" formControlName="email" autocomplete="email" required>
        <mat-error *ngIf="emailInput.hasError('required')">
          Email is <strong>required</strong>
        </mat-error>
        <mat-error *ngIf="emailInput.hasError('email')">
          Please enter a valid email address
        </mat-error>
      </mat-form-field>

      <div class="text-center">
        <button mat-raised-button type="submit" color="primary" (click)="onRecoverPassword()" [disabled]="!forgotPasswordForm.valid">Recover Password</button>
        <p class="mt-4"><a routerLink="/auth/signin">Back to Login</a></p>
      </div>
    </form>
  </mat-card-content>
</mat-card>
