<mat-card>
  <mat-card-content>
    <form [formGroup]="editPasswordForm">

      <mat-form-field>
        <input
          matInput
          placeholder="Old Password"
          [type]="hideOldPassword ? 'password' : 'text'"
          formControlName="oldPassword"
          required
        >
        <mat-icon matSuffix class="cursor-pointer" (click)="hideOldPassword = !hideOldPassword">{{hideOldPassword ? 'visibility_off' : 'visibility'}}
        </mat-icon>

        <mat-error *ngIf="oldPasswordInput.hasError('required')">
          Old Password is <strong>required</strong>
        </mat-error>
      </mat-form-field>

      <app-password-strength-confirm #passwordStrengthConfirm></app-password-strength-confirm>

      <div class="text-center">
        <button mat-raised-button type="submit" color="primary" (click)="onSavePassword()" [disabled]="!editPasswordForm.valid">Save Password</button>
      </div>
    </form>
  </mat-card-content>
</mat-card>
